/* -------------
Fonts CSS styles
---------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* -----------------
Base Css Styles
-------------------- */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  background-color: #2d25a0;
}

.banner__contents {
  background-color: #2d25a0;
  margin-bottom: 70px;
}

.btn-style {
  width: 123px;
  height: 44px;
  padding: 10px 24px;
  background-color: #e02c6d;
  text-decoration: none;
  color: #ffffff;
}
.football_season {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  line-height: 40px;
}
/* -----------------
Header Section CSS styles 
-------------------- */

.navbar {
  height: 44px;
  padding: 42px 120px;
}

.nav_menu {
  margin: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.nav-items {
  list-style: none;
  margin-left: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.nav-items:last-child {
  margin-left: auto;
  margin-right: 60px;
}

.gap_between {
  margin-right: 8px;
}

/* -------------------------
Banner Section CSS styles
---------------------------*/

.banner__contents {
  display: flex;
  justify-content: center;
}

.contents {
  width: 50%;
  padding: 121px 102px 240px 156px;
}

.contents .tournament_header {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 27px;
}

.tournament_header span {
  display: block;
  word-wrap: break-word;
}
.contents a {
  font-family: "Poppins", sans-serif;
}

.arrow_style {
  margin-left: 8px;
}

.banner_img {
  width: 50%;
  padding: 49px 225px 114px 84px;
  position: relative;
}

.banner_img .first-img-div img {
  width: 556.01px;
  height: 438px;
}

.banner_img .second-img-div img {
  width: 250px;
  position: absolute;
  top: 120px;
  left: 0;
}

.banner__contents:hover .first-img-div {
  transform: rotate(10deg);
  transition: transform 0.3s ease-in;
}

.banner__contents:hover .second-img-div img {
  transform: translate(-700px, -500px);
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.3s;
}

/*-------------------
main section css style
---------------------  */

/* -----------------
Player Card section CSs Style
-------------------------- */

.player__cards {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 30px;
  row-gap: 27px;
  margin-bottom: 165px;
  margin-right: 350px;
}

.player_card {
  width: 330px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.player_card .thumbnail img {
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}

.player_info .player-name {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
  margin-bottom: 10px;
}

.player_info .player--bio {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
}

/* --------------
Upcoming Games css style
--------------------- */

.upcoming__games {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.game_cards {
  width: 330px;
  padding: 15px 15px;
  border-radius: 25px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.game_cards .matches img {
  width: 300px;
  height: 200px;
  border-radius: 25px;
  object-fit: cover;
}

.game_cards:hover {
  transform: translateY(-10px);
  transition-duration: 0.3s;
}

.game_between .team-names {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}

.game_between .game-time {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
}

/* -------------------------
Goat Debate Section
------------------------- */
.goat__debate {
  width: 80%;
  margin: auto;
  display: flex;
  height: 70vh;
  margin-bottom: 10px;
  background-color: honeydew;
}

.messi {
  width: 50%;
  position: relative;
}

.messi img {
  height: 400px;
  width: 300px;
  object-fit: contain;
  position: absolute;
  top: 120px;
}

.ronaldo {
  width: 50%;
  position: relative;
}

.ronaldo img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 140px;
}

.stats_card {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  right: 200px;
  top: 180px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.stats_card2 {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 200px;
  top: 180px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.stats_card h2,
.stats_card2 h2 {
  text-align: center;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
}

.stats_card p,
.stats_card2 p {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

.stats_card:hover,
.stats_card2:hover {
  transform: translateY(-20px);
  transition: transform 0.5s ease-in;
}

/* ------------------------
Watch Live Section CSS Style
-------------------------- */
.watch__live {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch_games {
  width: 50%;
  padding: 121px 0px;
}

.watch_games .live-streaming {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 27px;
  margin-top: 100px;
}

.watch_games a {
  font-family: "Poppins", sans-serif;
}

.arrow_style {
  margin-left: 8px;
}

.match_img {
  width: 50%;
  padding: 49px 225px 114px 84px;
}

.match_img img {
  width: 567px;
  height: 427px;
  margin-top: 165px;
}

/* -----------
footer section css
------------------- */
.footer_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_section img {
  width: 483.87px;
  height: 110px;
  margin-bottom: 50px;
}

.social_media {
  margin-bottom: 30px;
}

.social_media .icon_sizing {
  background-color: #e7e7e8;
  color: #a0a4b2;
  border-radius: 50%;
  padding: 0.5em 0.6em;
  margin-right: 14px;
}

.footer_section p {
  margin-bottom: 63px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

/* -----------------------------
mobile screen responsive css
------------------------------- */
@media only screen and (max-width: 688px) {
  /* -----------------
  Base style css 
  --------------------*/
  .btn-style {
    box-sizing: content-box;
    width: 123px;
    height: 44px;
    padding: 10px 24px;
    background-color: #e02c6d;
    text-decoration: none;
    color: #ffffff;
  }

  .football_season {
    text-align: center;
  }

  header {
    background-color: #2d25a0;
  }

  /* ---------------
  navigation section css 
  -------------------*/
  .navbar {
    display: none;
  }

  /* ---------------
  banner section css
  -------------------- */
  .banner__contents {
    background-color: #2d25a0;
    display: block;
  }
  .contents {
    margin-right: 50px;
    padding: 50px 20px 0px;
    margin-bottom: 30px;
  }
  .contents .tournament_header {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
    line-height: 50px;
    margin-bottom: 27px;
  }

  .contents a {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
  }

  .arrow_style {
    margin-left: 8px;
  }

  .banner_img {
    padding: 0;
  }

  .banner_img .first-img-div img {
    width: 289px;
    height: 259.17px;
    object-fit: contain;
  }
  .banner_img .second-img-div {
    display: none;
  }

  /*------------------
   player cards section css 
   ----------------------*/
  .player__cards {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 27px;
    margin-bottom: 165px;
  }

  .player_card {
    width: 330px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
  }

  .player_card .thumbnail img {
    width: 300px;
    height: 256px;
    object-fit: cover;
    margin-bottom: 16px;
    text-align: center;
  }

  .player_info .player-name {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 28px;
    line-height: 40px;
    color: #18191f;
    margin-bottom: 10px;
  }

  .player_info .player--bio {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #6c6c6c;
  }

  /*----------------------
   Upcoming section css 
   --------------------*/
  .upcoming__games {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 130px;
  }
  .game_cards {
    width: 330px;
    padding: 15px 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .game_cards .matches img {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    object-fit: contain;
  }

  .game_cards:hover {
    transform: translateY(-10px);
    transition-duration: 0.3s;
  }

  .game_between .team-names {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
  }

  .game_between .game-time {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #6c6c6c;
  }

  /* ---------------
  goat debate css
  ----------------- */

  .goat__debate {
    width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 800px;
    background-color: white;
  }

  .messi {
    width: 100%;
    position: static;
  }

  .messi img {
    height: 400px;
    width: 300px;
    object-fit: contain;
    position: static;
  }

  .ronaldo {
    width: 100%;
    position: static;
  }

  .ronaldo img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    position: static;
    right: 0px;
  }

  .stats_card {
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    position: static;
    box-shadow: 0px 0px 40px rgba(58, 33, 33, 0.15);
    margin-bottom: 15px;
  }

  .stats_card2 {
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    position: static;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }

  .stats_card h2,
  .stats_card2 h2 {
    text-align: center;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
  }

  .stats_card p,
  .stats_card2 p {
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
  }

  .stats_card:hover,
  .stats_card2:hover {
    transform: translateY(-20px);
    transition: transform 0.5s ease-in;
  }

  /* ----------
  Watch live section css
  ----------------- */
  .watch__live {
    width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }

  .watch_games {
    width: 50%;
    padding: 0;
    margin-left: 50px;
  }

  .watch_games .live-streaming {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 27px;
    margin-top: 100px;
  }

  .watch_games a {
    font-family: "Poppins", sans-serif;
  }

  .arrow_style {
    margin-left: 8px;
  }

  .match_img {
    width: 100%;
    padding: 0;
  }

  .match_img img {
    display: block;
    margin: auto;
    width: 328px;
    height: 248px;
    margin-top: 29px;
  }

  /* ---------------
  footer section css
  ---------------- */

  .footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_section img {
    width: 300.87px;
    height: 110px;
    object-fit: contain;
    margin-bottom: 40px;
  }

  .social_media {
    margin-bottom: 30px;
  }

  .social_media .icon_sizing {
    background-color: #e7e7e8;
    color: #a0a4b2;
    border-radius: 50%;
    padding: 0.5em 0.6em;
    margin-right: 14px;
  }

  .footer_section p {
    margin-bottom: 63px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
}
